<?xml version="1.0"?>
<configuration>
  <!--节点声明-->
  <configSections>
    <section name="folder" type="STU.FolderConfig"/>
  </configSections>
  <appSettings>
    <add key="xmlpath" value="D:\工作\Stu\SQL\"/>
    <add key="txtImgPath" value="D:\其他项目\汲古轩\运河数据库\文件\全文图片目录" />
    <add key="fileHost" value="www.yh.com"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="server=.;database=MyTest;uid=sa;pwd=123" />
  </connectionStrings>
  <folder>
    <upload memo="普通上传目录">~/UpLoad/</upload>
  </folder>
  <system.web>
    <httpRuntime maxRequestLength="102400000" executionTimeout="3600" appRequestQueueLimit="10000"/>
    <customErrors mode="Off"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120"/>
    <compilation batch="true" debug="true" defaultLanguage="c#" optimizeCompilations="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Max-Age" value="43200"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="VerifyCode" verb="POST,GET" path="/VerifyCode.ashx" type="ZhClass.VerifyCodeMsg"/>
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit"/>
      <add name="a_ajax" path="*.ashx" verb="GET,POST,OPTIONS" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <add name="WX" type="STU.Cors"/>
    </modules>
  </system.webServer>
  <system.windows.forms jitDebugging="true"/>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="102400000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>