<?xml version="1.0" encoding="utf-8"?>
<region>
  <活动列表>
    <sql><![CDATA[select activity_id,dbo.encode(activity_name) as activity_name,activity_creater_id,activity_creater_name,activity_min_people,activity_max_people,
dbo.encode(activity_con) as activity_con,dbo.encode(activity_work_con) as activity_work_con,activity_img_vedio_url,activity_address,activity_start_time,
activity_end_time,activity_state,format(activity_create_time,'yyyy-MM-dd HH:mm:ss')as activity_create_time,activity_signup_end_time !from activity where 1=1]]></sql>
    <and><![CDATA[and activity_name like '%' + @key + '%']]></and>
    <orderby><![CDATA[activity_create_time]]></orderby>
  </活动列表>
  <报名列表>
    <sql><![CDATA[select signup_id,dbo.encode(signup_user_name) as signup_user_name, signup_user_type,signup_activity_id,dbo.encode(signup_activity_name) as signup_activity_name,
signup_in_time,signup_out_time,signup_create_time !from signup where 1=1]]></sql>
    <orderby><![CDATA[signup_create_time]]></orderby>
    <and><![CDATA[and signup_activity_name like '%' + @key + '%']]></and>
  </报名列表>
</region>