<?xml version="1.0"?>
<region>

  <游戏类型>
    <node text="页游">1</node>
    <node text="端游">2</node>
    <node text="棋牌">3</node>
    <node text="手游H5">4</node>
    <node text="金融理财">5</node>
    <node text="其他">6</node>
  </游戏类型>
  <信息类型>
    <node text="公告">1</node>
    <node text="帮助">2</node>
  </信息类型>
  <金融验证方式>
    <node text="手机">1</node>
    <node text="邮箱">2</node>
  </金融验证方式>
  <图片类型>
    <node text="首页banner">1</node>
    <node text="试玩banner">2</node>
  </图片类型>

  <省>
    <node text="浙江省">33</node>
    <node text="黑龙江省">51</node>
    <node text="辽宁省">52</node>
    <node text="重庆市">14</node>
    <node text="宁夏回族自治区">64</node>

  </省>
  <市>
    <node text="杭州市">3301</node>
    <node text="宁波市">3302</node>
    <node text="银川市">6401</node>
    <node text="石嘴山市">6402</node>
    <node text="吴忠市">6403</node>
    <node text="固原市">6404</node>
    <node text="中卫市">6405</node>
    <node text="哈尔滨市">5101</node>
    <node text="辽阳市">5205</node>
    <node text="重庆市">1401</node>


  </市>
  <区>
    <node text="上城区">330101</node>
    <node text="下城区">330102</node>
    <node text="西湖区">330103</node>
    <node text="江干区">330104</node>
    <node text="拱墅区">330105</node>
    <node text="滨江区">330106</node>
    <node text="萧山区">330107</node>
    <node text="余杭区">330108</node>
    <node text="富阳区">330109</node>

    <node text="北仑区">330201</node>
    <node text="江东区">330202</node>
    <node text="江北区">330203</node>
    <node text="镇海区">330204</node>
    <node text="海曙区‎">330205</node>
    <node text="鄞州区">330206</node>

    <node text="兴庆区">640101</node>
    <node text="西夏区">640102</node>
    <node text="金凤区">640103</node>
    <node text="灵武市">640104</node>
    <node text="永宁县">640105</node>
    <node text="贺兰县">640106</node> 

    <node text="大武口区">640201</node>
    <node text="惠农区">640202</node>
    <node text="平罗县">640203</node>

    <node text="利通区">640301</node>
    <node text="红寺堡区">640302</node>
    <node text="青铜峡市">640303</node>
    <node text="盐池县">640304</node>
    <node text="同心县">640305</node>

    <node text="原州区">640401</node>
    <node text="西吉县">640402</node>
    <node text="隆德县">640403</node>
    <node text="泾源县">640404</node>
    <node text="彭阳县">640405</node>

    <node text="沙坡头区">640501</node>
    <node text="中宁县">640502</node>
    <node text="海原县">640503</node>

    <node text="道里区">510101</node>
    <node text="南岗区">510102</node>
    <node text="道外区">510103</node>
    <node text="平房区">510104</node>
    <node text="松北区">510105</node>
    <node text="香坊区">510106</node>
    <node text="呼兰区">510107</node>
    <node text="阿城区">510108</node>
    <node text="双城区">510109</node>
    <node text="依兰县">510110</node>
    <node text="方正县">510111</node>
    <node text="宾县">510112</node>
    <node text="巴彦县">510113</node>
    <node text="木兰县">510114</node>
    <node text="尚志市">510115</node>
    <node text="五常市">510116</node>
    <node text="延寿县">510117</node>
    <node text="通河县">510118</node> 

    <node text="白塔区">520501</node>
    <node text="文圣区">520502</node>
    <node text="太子河区">520503</node>
    <node text="宏伟区">520504</node>
    <node text="辽阳县">520505</node>
    <node text="弓长岭区">520506</node>
    <node text="灯塔市">520507</node>

    <node text="渝中区">140101</node>
    <node text="渝北区">140102</node>
    <node text="江北区">140103</node>
    <node text="南岸区">140104</node>
    <node text="大渡口区">140105</node>
    <node text="沙坪坝区">140106</node>
    <node text="九龙坡区">140107</node>
    <node text="巴南区">140108</node>
    <node text="江津区">140109</node>
    <node text="长寿区">140110</node>
    <node text="铀梁区">140111</node>
    <node text="壁山区">140112</node>
    <node text="北碚区">140113</node>

  </区>
</region>