<?xml version="1.0" encoding="utf-8"?>
<region>
  <积分列表>
    <sql><![CDATA[select intergral_id, intergral_user_id,intergral_total,intergral_change_num,dbo.encode(intergral_change_why) as intergral_change_why,intergral_using_time,user_name,user_wx_name
!from intergral  inner join wxuser  on intergral.intergral_user_id=wxuser.user_id  where 1=1]]></sql>
    <and><![CDATA[and intergral_user_name like '%' + @key + '%']]></and>
    <orderby><![CDATA[intergral_using_time]]></orderby>
  </积分列表>
</region>