<?xml version="1.0" encoding="utf-8"?>
<region>
  <积分列表>
    <sql><![CDATA[select intergral_id, intergral_user_id,dbo.encode(intergral_user_name) as intergral_user_name,intergral_total,intergral_change_num,dbo.encode(intergral_change_why) as intergral_change_why,intergral_using_time
!from intergral where 1=1]]></sql>
    <orderby><![CDATA[intergral_using_time]]></orderby>
    <and><![CDATA[and intergral_user_name like '%' + @key + '%']]></and>
  </积分列表>
</region>