<?xml version="1.0" encoding="utf-8"?>
<region>
  <修改密码>
    <sql><![CDATA[update manageUser set pwd=@newpass where uname=@uname and pwd=@oldpass]]></sql>
  </修改密码>
  <添加管理员>
    <sql><![CDATA[if not exists(select 1 from manageuser where uname=@uname)
insert into manageuser (uname,pwd,name,mobile,flag)
values (@uname,@pass,@name,@mobile,@flag)]]></sql>
  </添加管理员>
  <管理员列表>
    <sql><![CDATA[select id,uname,dbo.encode(name) as name,mobile,[state],format(last_login_time,'yyyy-MM-dd HH:mm') as last_login_time
!from manageuser where 1=1]]></sql>
    <and><![CDATA[ and uname like '%'+@key+'%']]></and>
    <orderby><![CDATA[intime]]></orderby>
  </管理员列表>
  <变更管理员状态>
    <sql><![CDATA[update ManageUser set state=case state when 0 then 1 when 1 then 0 else 0 end 
output inserted.state
where id=@id and id!=@me]]></sql>
  </变更管理员状态>
  <获取管理员>
    <sql><![CDATA[select uname,pwd,name,mobile,state,flag from manageuser where id=@id]]></sql>
  </获取管理员>
  <修改管理员>
    <sql><![CDATA[if not exists(select 1 from manageuser where uname=@uname and id!=@id)
update manageuser set uname=@uname]]></sql>
    <and><![CDATA[,pwd=@pass]]></and>
    <and><![CDATA[,name=@name,mobile=@mobile,flag=@flag where id=@id]]></and>
  </修改管理员>
  <拿指定的几个管理员>
    <sql><![CDATA[select name from manageuser mu right join dbo.split_id(@ids,',') tb on mu.[user_id]=tb.id]]></sql>
  </拿指定的几个管理员>
  <所有用户按公司分类>
    <sql><![CDATA[select [user_id],name,department,mobile,email from manageuser where state=1
select id,name from company where state=1 order by id]]></sql>
  </所有用户按公司分类>
  <我发的通知列表>
    <sql><![CDATA[select noticeid,title,annex,intime,
(select count(1) from noticeusers where noticeid=d.noticeid and state=0) as state0,
(select count(1) from noticeusers where noticeid=d.noticeid and state=1) as state1
!from notice d
where userid=@userid
]]></sql>
    <and><![CDATA[ and title like '%'+@key+'%']]></and>
    <and><![CDATA[ and intime>=@stime]]></and>
    <and><![CDATA[ and intime<=@etime + ' 23:59:59']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </我发的通知列表>
  <删除我发的通知>
    <sql><![CDATA[if exists(select 1 from notice where noticeid=@noticeid and userid=@myid)
begin
 delete notice 
 output deleted.annex
 where noticeid=@noticeid and userid=@myid
 delete noticeusers where noticeid=@noticeid
end]]></sql>
  </删除我发的通知>
  <通知详细内容>
    <sql><![CDATA[select noticeid,title,msg,annex,intime from notice where noticeid=@noticeid
select userid,nu.state,readtime,[dbo].[getFullName](department) as company,mu.name from noticeusers nu inner join manageuser mu on nu.userid=mu.[user_id] where noticeid=@noticeid]]></sql>
    <and><![CDATA[update noticeusers set state=1,readtime=getdate() where userid=@myid and noticeid=@noticeid]]></and>
  </通知详细内容>
  <发给我的通知列表>
    <sql><![CDATA[select n.noticeid,title,intime,annex,nu.state
!from notice n
cross apply (select noticeid,state from noticeusers where noticeid=n.noticeId and userid=@myid) nu
where 1=1]]></sql>
    <and><![CDATA[ and title like '%'+@key+'%']]></and>
    <and><![CDATA[ and intime>=@stime]]></and>
    <and><![CDATA[ and intime<=@etime + ' 23:59:59']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </发给我的通知列表>
  <发给我的通知列表2>
    <sql><![CDATA[select count(1) from notice where noticeid in (select noticeid from noticeusers where userid=@myid and [state]=0)]]></sql>
  </发给我的通知列表2>
  <通讯录>
    <sql><![CDATA[select name,mobile,dbo.getFullName(department) as department,email 
!from manageuser where state=1]]></sql>
    <and><![CDATA[ and (uname like '%'+@key+'%' or mbile like '%'+@key+'%' or email like '%'+@key+'%')]]></and>
    <and><![CDATA[ and department like @dep+'%']]></and>
    <orderby><![CDATA[department,name]]></orderby>
  </通讯录>
  <统计信息>
    <sql><![CDATA[select
(select count(1) from books) as '书籍总数量',
(select count(1) from borrow2 where state=1) as '外借书籍数量',
(select count(1) from borrow2 where state=2) as '总共书籍借阅次数',
(select count(1) from books where userid>0 and userstate=1) as '捐书数量']]></sql>
  </统计信息>
</region>