<?xml version="1.0" encoding="utf-8"?>
<region>
  <场地列表>
    <sql><![CDATA[select site_id,dbo.encode(site_name) as site_name,dbo.encode(site_area) as site_area,site_img,site_using_time_total,site_used_time,site_create_time,dbo.encode(site_desc) as site_desc
!from site where 1=1]]></sql>
    <and><![CDATA[and site_name like '%'+@key+'%']]></and>
    <orderby><![CDATA[site_create_time]]></orderby>
  </场地列表>
  <添加场地>
    <sql><![CDATA[    if not exists(select 1 from site where site_name=@site_name)
 insert into site (site_name,site_area,site_img,site_using_time_total,site_used_time,site_desc)
    values (@site_name,@site_area,@site_img,@site_using_time_total,'',@site_desc)]]></sql>
  </添加场地>
  <删除场地>
    <sql><![CDATA[delete from site where site_id=@site_id]]></sql>
  </删除场地>
  <编辑场地>
    <sql><![CDATA[update site set site_name=@site_name,site_area=@site_area,site_img=@site_img,site_using_time_total=@site_using_time_total,site_desc=@site_desc where site_id=@site_id]]></sql>
  </编辑场地>
</region>