<?xml version="1.0" encoding="utf-8"?>
<region>
  <场地列表>
    <sql><![CDATA[select site_id,dbo.encode(site_name) as site_name,dbo.encode(site_area) as site_area,site_using_time_total,site_used_time,site_create_time
!from site where 1=1]]></sql>
    <orderby><![CDATA[site_create_time]]></orderby>
    <and><![CDATA[and site_name like '%'+@key+'%']]></and>
  </场地列表>
</region>