<?xml version="1.0" encoding="utf-8"?>
<region>
  <添加问题>
    <sql><![CDATA[    insert into Topic (topicName,topicAnswer,memo) values (@topicName,@topicAnswer,@memo)]]></sql>
  </添加问题>
  <修改问题>
    <sql><![CDATA[update Topic set topicName = @topicName,topicAnswer = @topicAnswer,state = @state,memo = @memo where id = @id]]></sql>
  </修改问题>
  <删除问题>
    <sql><![CDATA[  delete * from Topic where id = @id]]></sql>
  </删除问题>
  <获取问题数据>
    <sql><![CDATA[select * !from Topic where 1=1]]></sql>
    <and><![CDATA[and (topicName like '%+ @topicName +%'or topicAnswer like '%+ @topicName +%')]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </获取问题数据>
  <获取单挑数据问题>
    <sql><![CDATA[select * from Topic where id = @id]]></sql>
  </获取单挑数据问题>
</region>