<?xml version="1.0" encoding="utf-8"?>
<region>
  <用户列表>
    <sql><![CDATA[select user_id,dbo.encode(user_name) as user_name,user_wx_name,user_wx_img,user_wx_num,user_phone,openid,format(user_create_time,'yyyy-MM-dd HH:mm') as user_create_time,user_state
!from wxuser where 1=1]]></sql>
    <orderby><![CDATA[user_create_time]]></orderby>
    <and><![CDATA[and user_name like '%'+@key+'%']]></and>
  </用户列表>
  <添加用户>
    <sql><![CDATA[  if not exists(select 1 from wxuser where user_phone=@user_phone)
 insert into wxuser (user_name,user_wx_name,user_phone,user_wx_num,user_state,openid)
    values (@user_name,'',@user_phone,@user_wx_num,'0','')]]></sql>
  </添加用户>
  <编辑用户信息>
    <sql><![CDATA[update wxuser set user_name = @user_name , user_wx_num=@user_wx_num ,user_phone=@user_phone where user_id = @user_id]]></sql>
  </编辑用户信息>
  <删除用户>
    <sql><![CDATA[delete from wxuser where user_id = @user_id]]></sql>
  </删除用户>
  <二维码列表>
    <sql><![CDATA[select code_id,code_phone,code_num,format(code_create_time,'yyyy-MM-dd HH:mm') as code_create_time
!from code where 1=1]]></sql>
    <and><![CDATA[and code_phone like '%'+ @key + '%']]></and>
    <orderby><![CDATA[code_create_time]]></orderby>
  </二维码列表>
</region>