<?xml version="1.0" encoding="utf-8"?>
<region>
  <版本列表>
    <sql><![CDATA[select version_num,version_update_con,format(version_update_time,'yyyy-MM-dd HH:mm:ss') as version_update_time !from version where 1=1]]></sql>
    <and><![CDATA[and version_num like '%'+ @key + '%']]></and>
    <orderby><![CDATA[version_update_time]]></orderby>
  </版本列表>
</region>